<a href="https://colab.research.google.com/github/dmlcks123/gptforecondata/blob/main/2%EC%B0%A8_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88_%EB%B0%8F_numpy%2C_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 기초

**프롬프터**
1. 선생님 파이썬 데이터 종류에 대해 간단하고 자세하게 설명해주시죠
2. 선생님 python 데이터 구조에 대해서 필요한 만큼 자세히 알려주시죠 예제도 보여줬으면 좋겠습니다
3. 선생님 python 데이터 종류별로 데이터 불러오기에 대해서 간단하게 설명해주시죠
4. 선생님 python 제어문 간단하지만 자세하게 알려주시죠 예문은 포함시켜주세요
5. 선생님 python 사칙연산에 대해 간단하게 설명해주시죠

## 데이터 종류

- 정수형(int) : 소수점이 없는 숫자

In [ ]:
a = 10
b = 3
print(a + b)  # 13
print(a - b)  # 7
print(a * b)  # 30
print(a / b)  # 3.333...
print(a ** b)  # 1000

- 실수형(float) : 소수점이 있는 숫자

- 실수형 데이터를 int()를 활용하여 정수형으로 변환할때 소수점 이하는 내림한다.

In [ ]:
c = 3.14
d = 0.5
print(c + d)  # 3.64
print(c - d)  # 2.64
print(c * d)  # 1.57
print(c / d)  # 6.28

- 문자열(string) : 문자들의 집합으로, 큰따옴표(" ") 또는 작은따옴표(' ')로 감싸서 표현

In [ ]:
e = "Hello"
f = "World"
print(e + " " + f)  # "Hello World"
print(e * 3)  # "HelloHelloHello"
print(len(e))  # 5

- 논리형(boolean) : True 또는 False로 표현

In [ ]:
g = True
h = False
print(g and h)  # False
print(g or h)  # True
print(not g)  # False

## 데이터 구조

### 리스트(List) : 리스트는 다양한 데이터 타입을 포함할 수 있으며, 인덱스를 통해 개별 요소에 접근할 수 있습니다.

In [ ]:
# 리스트 생성
my_list = [1, 2, 3, 'a', 'b', 'c']

# 리스트 요소 접근
print(my_list[0])  # 1

# 리스트 요소 변경
my_list[0] = 10
print(my_list)  # [10, 2, 3, 'a', 'b', 'c']

# 리스트 요소 추가
my_list.append(4)
print(my_list)  # [10, 2, 3, 'a', 'b', 'c', 4]

# 리스트 요소 삭제
del my_list[1]
print(my_list)  # [10, 3, 'a', 'b', 'c', 4]

### 튜플(Tuple) : 튜플은 리스트와 비슷하지만, 요소의 값을 변경할 수 없습니다.

In [ ]:
# 튜플 생성
my_tuple = (1, 2, 3, 'a', 'b', 'c')

# 튜플 요소 접근
print(my_tuple[0])  # 1

# 튜플 요소 변경 불가
# my_tuple[0] = 10  # 오류 발생

# 튜플 요소 추가 불가
# my_tuple.append(4)  # 오류 발생

### 세트(Set) : 세트는 집합을 표현하는 자료형으로, 중복을 허용하지 않습니다.

In [ ]:
# 세트 생성
my_set = {1, 2, 3, 'a', 'b', 'c'}

# 세트 요소 추가
my_set.add(4)
print(my_set)  # {1, 2, 3, 4, 'a', 'b', 'c'}

# 세트 요소 삭제
my_set.remove('a')
print(my_set)  # {1, 2, 3, 4, 'b', 'c'}

# 세트는 중복된 요소를 허용하지 않음
my_set.add(4)
print(my_set)  # {1, 2, 3, 4, 'b', 'c'}

### 딕셔너리(Dictionary) : 딕셔너리는 키-값 쌍으로 구성되어 있으며, 키를 통해 값을 얻을 수 있습니다.

In [ ]:
# 딕셔너리 생성
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}

# 딕셔너리 요소 접근
print(my_dict['name'])  # Alice

# 딕셔너리 요소 추가 및 변경
my_dict['age'] = 30
print(my_dict)  # {'name': 'Alice', 'age': 30, 'city': 'New York'}

# 딕셔너리 요소 삭제
del my_dict['city']
print(my_dict)  # {'name': 'Alice', 'age': 30}

그 외: 스택(stack, LIFO), 큐(queue, FIFO)가 있음

## 데이터 불러오기

### csv 파일 불러오기

- 콤마 구분자

In [ ]:
import numpy as np
from google.colab import files

# CSV 파일 업로드
uploaded = files.upload()

# 파일 이름을 확인하고 'economic_data.csv'로 변경하세요
filename = list(uploaded.keys())[0]
print("Uploaded file name:", filename)

# CSV 파일에서 데이터 불러오기 (콤마 구분자)
data = np.genfromtxt(filename, delimiter=',', skip_header=1)

# 데이터 확인
print("Data shape:", data.shape)
print("First 5 rows of data:\n", data[:5])

* 탭 구분자

In [ ]:
# CSV 파일에서 데이터 불러오기 (탭 구분자)
data_tab = np.genfromtxt(filename, delimiter='\t', skip_header=1)

- 세미콜론 구분자

In [ ]:
# CSV 파일에서 데이터 불러오기 (세미콜론 구분자)
data_semicolon = np.genfromtxt(filename, delimiter=';', skip_header=1)

### Excel 파일 불러오기

In [ ]:
import pandas as pd
import numpy as np
from google.colab import files

# Excel 파일 업로드
uploaded = files.upload()

# 파일 이름을 확인하고 'economic_data.xlsx'로 변경하세요
filename = list(uploaded.keys())[0]
print("Uploaded file name:", filename)

# Excel 파일에서 데이터 불러오기
df = pd.read_excel(filename)

# Pandas DataFrame을 NumPy 배열로 변환
data = df.to_numpy()

# 데이터 확인
print("Data shape:", data.shape)
print("First 5 rows of data:\n", data[:5])

### 텍스트 파일 불러오기

In [ ]:
import numpy as np
from google.colab import files

# 텍스트 파일 업로드
uploaded = files.upload()

# 파일 이름을 확인하고 'economic_data.txt'로 변경하세요
filename = list(uploaded.keys())[0]
print("Uploaded file name:", filename)

# 텍스트 파일에서 데이터 불러오기 (예: 공백으로 구분된 데이터)
data = np.loadtxt(filename, delimiter=' ')

# 데이터 확인
print("Data shape:", data.shape)
print("First 5 rows of data:\n", data[:5])

### Github 파일 불러오기

In [ ]:
import pandas as pd
import numpy as np

# CSV 파일의 GitHub Raw URL
url = 'https://github.com/username/repository/raw/main/data.csv'

# Pandas를 사용하여 CSV 파일 불러오기
df = pd.read_csv(url)

# 데이터 확인
print("Data shape:", df.shape)
print("First 5 rows of data:\n", df.head())

# Pandas DataFrame을 NumPy 배열로 변환
data = df.to_numpy()

# NumPy 배열 확인
print("NumPy array shape:", data.shape)
print("First 5 rows of NumPy array:\n", data[:5])

### JSON 파일 불러오기

In [ ]:
import json
import numpy as np
from google.colab import files

# JSON 파일 업로드
uploaded = files.upload()

# 파일 이름을 확인하고 'economic_data.json'로 변경하세요
filename = list(uploaded.keys())[0]
print("Uploaded file name:", filename)

# JSON 파일에서 데이터 불러오기
with open(filename, 'r') as f:
    json_data = json.load(f)

# 예를 들어 JSON 데이터가 리스트의 리스트 형태라면, NumPy 배열로 변환
data = np.array(json_data)

# 데이터 확인
print("Data shape:", data.shape)
print("First 5 rows of data:\n", data[:5])

## 제어문

### 조건문(if, elif, else)

In [ ]:
age = 18

if age < 18:
    print("미성년자입니다.")
elif age == 18:
    print("막 성인이 되었습니다.")
else:
    print("성인입니다.")

- age 변수에 18을 할당합니다.
- if 문으로 age가 18보다 작은지 검사합니다. 참이면 "미성년자입니다."를 출력합니다.
- elif 문으로 age가 18과 같은지 검사합니다. 참이면 "막 성인이 되었습니다."를 출력합니다.
- 위의 조건이 모두 거짓이면 else 문이 실행되어 "성인입니다."를 출력합니다.

### 반복문(for, while, break, continue)

In [ ]:
# for 문 예제
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

- fruits 리스트에 세 가지 과일을 저장합니다.
- for 문으로 리스트의 각 요소를 순회하면서 fruit 변수에 하나씩 할당하고 출력합니다.

In [ ]:
# while 문 예제
count = 0

while count < 5:
    print(count)
    count += 1

- count 변수를 0으로 초기화합니다.
- while 문으로 count가 5보다 작은 동안 반복합니다.
- 반복할 때마다 count 값을 출력하고, count를 1씩 증가시킵니다.

In [ ]:
# break 문 예제
for i in range(10):
    if i == 5:
        break
    print(i)

- for 문으로 0부터 9까지 순회합니다.
- if 문으로 i가 5가 되면 break 문을 실행하여 반복문을 종료합니다.
- i 값이 5가 되기 전까지는 값을 출력합니다.

In [ ]:
# continue 문 예제
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

- for 문으로 0부터 9까지 순회합니다.
- if 문으로 i가 짝수이면 continue 문을 실행하여 다음 반복으로 넘어갑니다.
- i 값이 홀수일 때만 출력합니다.

### 중첩 제어문

In [ ]:
# 중첩 제어문 예제
for i in range(5):
    if i % 2 == 0:
        print(f"{i}는 짝수입니다.")
    else:
        print(f"{i}는 홀수입니다.")

- for 문으로 0부터 4까지 순회합니다.
- if 문으로 i가 짝수이면 "{i}는 짝수입니다."를 출력합니다.
- 그렇지 않으면 else 문을 실행하여 "{i}는 홀수입니다."를 출력합니다.

## 사칙연산

- 덧셈: +
- 뺄셈: -
- 곱셈: *
- 나눗셈: /
- 나머지 연산: %
- 몫 연산: //
- 거듭제곱: **

In [ ]:
# 나눗셈 예제
a = 5
b = 3
result = a / b
print("나눗셈 결과:", result)  # 결과: 1.6666666666666667

In [ ]:
# 몫 연산 예제
a = 5
b = 3
result = a // b
print("몫 연산 결과:", result)  # 결과: 1

# NumPy

**프롬프터**

1. 선생님 이번엔 경제데이터를 분석하는데 필요한 numpy 라이브러리에 대해서 알아야 할 내용들을 간단하게 말씀주시죠. 예제는 포함하고 자세하게 설명해주요
2. 그렇군요 선생님 경제데이터를 분석하는데 필요한 numpy 라이브러리 지식을 예제와 함께 설명해주세요
3. 경제데이터에 초점을 두기보다는 numpy library 기능에 대해서 확인하고 싶습니다. 예제에 대한 설명과 핵심기능만을 소개해주세요. 그러나 데이터 분석에 필요한 기능은 빠뜨리지 않았으면 합니다.

## 배열 생성

- np.array: 리스트를 numpy 배열로 변환합니다.

In [ ]:
import numpy as np

# 1차원 배열 생성
arr1 = np.array([1, 2, 3, 4, 5])
print("1차원 배열:", arr1)

# 2차원 배열 생성
arr2 = np.array([[1, 2, 3], [4, 5, 6]])
print("2차원 배열:\n", arr2)

- np.zeros((m, n)): m x n 크기의 배열을 생성하고 모든 요소를 0으로 초기화합니다.

In [ ]:
# 0으로 채워진 배열 생성
zeros = np.zeros((2, 3))
print("0으로 채워진 배열:\n", zeros)

- np.ones((m, n)): m x n 크기의 배열을 생성하고 모든 요소를 1로 초기화합니다.

In [ ]:
# 1로 채워진 배열 생성
ones = np.ones((2, 3))
print("1로 채워진 배열:\n", ones)

- np.arange(start, stop, step): start부터 stop까지 step 간격으로 값을 가지는 배열을 생성합니다.

In [ ]:
# 특정 범위의 수로 배열 생성
arange = np.arange(0, 10, 2)
print("0에서 10까지 2간격으로 생성된 배열:", arange)

- np.random.rand(m, n): m x n 크기의 배열을 생성하고, 0과 1 사이의 랜덤 값을 할당합니다.

In [ ]:
# 랜덤 값으로 배열 생성
random = np.random.rand(3, 3)
print("랜덤 값으로 생성된 배열:\n", random)

## 배열 연산

- a + b: 두 배열의 요소별 덧셈을 수행합니다.
- a * b: 두 배열의 요소별 곱셈을 수행합니다.

In [ ]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])

# 배열 간 덧셈
print("배열 덧셈:", a + b)

# 배열 간 곱셈
print("배열 곱셈:", a * b)

- np.sin(a): 배열 a의 각 요소에 대해 사인 함수를 적용합니다.

In [ ]:
# 배열의 각 요소에 대한 함수 적용
print("배열에 대한 sin 함수 적용:", np.sin(a))

## 배열 슬라이싱 및 인덱싱

- arr[i, j]: 2차원 배열 arr의 (i, j) 위치의 요소를 반환합니다.
- arr[i, :]: i번째 행의 모든 요소를 반환합니다.
- arr[:, j]: j번째 열의 모든 요소를 반환합니다.
- arr[start:stop, start:stop]: 지정된 범위의 서브 배열을 반환합니다.

In [ ]:
arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

# 특정 요소 접근
print("arr[1, 2]:", arr[1, 2])

# 행 접근
print("arr[1, :]:", arr[1, :])

# 열 접근
print("arr[:, 1]:", arr[:, 1])

# 서브 배열 접근
print("arr[0:2, 1:3]:\n", arr[0:2, 1:3])

## 통계 함수

- np.mean(arr): 배열 arr의 평균을 계산합니다.
- np.median(arr): 배열 arr의 중앙값을 계산합니다.
- np.std(arr): 배열 arr의 표준 편차를 계산합니다.
- np.max(arr): 배열 arr의 최대값을 반환합니다.
- np.min(arr): 배열 arr의 최소값을 반환합니다.

In [ ]:
data = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9])

# 평균
print("평균:", np.mean(data))

# 중앙값
print("중앙값:", np.median(data))

# 표준 편차
print("표준 편차:", np.std(data))

# 최대값
print("최대값:", np.max(data))

# 최소값
print("최소값:", np.min(data))

## 배열 형태 변경

- arr.reshape((m, n)): 배열의 형태를 m x n으로 변경합니다.

In [ ]:
arr = np.array([1, 2, 3, 4, 5, 6])

# 2x3 배열로 변경
reshaped_arr = arr.reshape((2, 3))
print("2x3 배열로 변경:\n", reshaped_arr)

- np.expand_dims(arr, axis): 배열에 새로운 차원을 추가합니다.

In [ ]:
# 차원 추가
expanded_arr = np.expand_dims(arr, axis=0)
print("차원 추가:\n", expanded_arr)

- np.squeeze(arr): 배열에서 불필요한 차원을 제거합니다.

In [ ]:
# 차원 축소
squeezed_arr = np.squeeze(expanded_arr)
print("차원 축소:\n", squeezed_arr)

## 파일 입출력

- np.save(filename, arr): 배열 arr을 파일 filename에 저장합니다.
- np.load(filename): 파일 filename에서 저장된 배열을 불러옵니다.

In [ ]:
# 배열 저장
data = np.array([1, 2, 3, 4, 5])
np.save('data.npy', data)

# 배열 불러오기
loaded_data = np.load('data.npy')
print("불러온 데이터:", loaded_data)

# Pandas

**프롬프터**
1. 자 선생님 지금부터는 경제데이터를 분석하는데 필요한 pandas 라이브러리 지식을 핵심만 알려주세요. 예제가 있어야하고 IDE는 코랩을 씁니다. 또한 메소드별로 코드를 나눠줬으면 하고 설명은 자세하게 해주셨으면 합니다.

## 데이터 구조

- Series : 1차원 배열과 유사하며, 인덱스를 가지는 데이터입니다.
- pd.Series(data): 주어진 데이터를 Series 객체로 변환합니다.

In [ ]:
import pandas as pd

# 리스트로부터 Series 생성
s = pd.Series([1, 3, 5, 7, 9])
print("Series:\n", s)

- DataFrame : 2차원 데이터를 표현하는 행과 열을 가지는 테이블입니다.
- pd.DataFrame(data): 주어진 데이터를 DataFrame 객체로 변환합니다.

In [ ]:
# 딕셔너리로부터 DataFrame 생성
data = {
    'year': [2010, 2011, 2012, 2013],
    'gdp': [1.5, 1.6, 1.7, 1.8]
}
df = pd.DataFrame(data)
print("DataFrame:\n", df)

## 데이터 파일 입출력

- pd.read_csv(filename): CSV 파일을 읽어 DataFrame 객체로 변환합니다.
- df.to_csv(filename): DataFrame 객체를 CSV 파일로 저장합니다.

In [ ]:
# CSV 파일 읽기
df = pd.read_csv('data.csv')
print("CSV 파일로부터 읽은 DataFrame:\n", df)

In [ ]:
# DataFrame을 CSV 파일로 저장
df.to_csv('output.csv', index=False)

## 데이터 탐색

- df.head(): DataFrame의 처음 5행을 반환합니다.
- df.info(): DataFrame의 요약 정보를 출력합니다.
- df.describe(): 수치형 데이터의 통계 요약을 반환합니다.

In [ ]:
# 데이터의 처음 몇 행 보기
print("처음 5행:\n", df.head())

# 데이터의 기본 정보 보기
print("데이터 정보:\n", df.info())

# 데이터 통계 요약 보기
print("통계 요약:\n", df.describe())

## 데이터 선택 및 필터링

- 열 선택: 특정 열을 선택하여 Series 객체로 반환합니다.
- df['column_name']: 지정된 열을 Series로 반환합니다.

In [ ]:
# 특정 열 선택
gdp = df['gdp']
print("GDP 열:\n", gdp)

- 조건으로 필터링: 특정 조건을 만족하는 행을 선택합니다.
- df[condition]: 조건을 만족하는 행을 필터링하여 DataFrame으로 반환합니다.

In [ ]:
# 조건으로 필터링
filtered_df = df[df['gdp'] > 1.6]
print("GDP가 1.6 이상인 행:\n", filtered_df)

## 데이터 정렬

- 행 정렬: 특정 열을 기준으로 행을 정렬합니다.
- df.sort_values(by='column_name', ascending=True/False): 지정된 열을 기준으로 DataFrame을 정렬합니다.

In [ ]:
# 특정 열을 기준으로 정렬
sorted_df = df.sort_values(by='gdp', ascending=False)
print("GDP 기준 내림차순 정렬:\n", sorted_df)

## 데이터 통계

- 데이터 그룹화 및 집계: 특정 열을 기준으로 데이터를 그룹화하고, 집계함수를 적용합니다.
- df.groupby('column_name').aggfunc(): 지정된 열을 기준으로 데이터를 그룹화하고, 집계함수를 적용합니다.

In [ ]:
# 연도별 GDP 합계 계산
grouped = df.groupby('year').sum()
print("연도별 GDP 합계:\n", grouped)

## 결측치 처리

- 결측치 확인 및 제거: 결측치를 확인하고 제거합니다.
- df.isnull(): DataFrame에서 결측치를 확인합니다.
- df.dropna(): 결측치가 있는 행을 제거합니다.

In [ ]:
# 결측치 확인
print("결측치 개수:\n", df.isnull().sum())

# 결측치 제거
df_cleaned = df.dropna()
print("결측치 제거 후 데이터:\n", df_cleaned)

## 데이터 추가 및 삭제

- 행과 열 추가 및 삭제: 새로운 열을 추가하거나 기존의 행과 열을 삭제합니다.
- df['new_column'] = data: 새로운 열을 추가합니다.
- df.drop(columns=['column_name']): 특정 열을 삭제합니다.

In [ ]:
# 새로운 열 추가
df['growth_rate'] = df['gdp'].pct_change()
print("성장률 추가:\n", df)

# 특정 열 삭제
df_dropped = df.drop(columns=['growth_rate'])
print("성장률 열 삭제:\n", df_dropped)

## 데이터 병합

- 두 개의 DataFrame을 병합합니다.
- pd.concat([df1, df2]): 두 DataFrame을 병합합니다.

In [ ]:
# 두 DataFrame 병합
df1 = pd.DataFrame({'year': [2010, 2011], 'gdp': [1.5, 1.6]})
df2 = pd.DataFrame({'year': [2012, 2013], 'gdp': [1.7, 1.8]})

merged_df = pd.concat([df1, df2])
print("병합된 DataFrame:\n", merged_df)